<div class="modal" id="AddWork" data-bs-toggle="modalAdd" aria-hidden="true"
    style="overflow-y: scroll; display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Добавить организацию</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form id='addWork'>
                    <div class="mb-3">
                        <label class="form-label">Наименование работы</label>
                        <input type="name" required id="name_work" class="form-control">
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeAdd">Закрыть</button>
                <input class="btn btn-primary" type="submit" name="submit" value="Добавить">
            </div>
            </form>
        </div>
    </div>
</div>