{%extends "base.html" %}
{%block content %}
<div class="columns">
    <div class="column">
        <div class="card ">
            <div class="card-content">
                <div class="content">
                    <div class="card ">
                        <div class="card-content">
                            <div class="content">
                                <a class="btn btn-primary" href="/organization" role="button">Организации</a>
                                <a class="btn btn-primary" href="/objects" role="button">Организации</a>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}